/* Widget Music Player */
/* .player_music img {
    width: 30px;
    max-height: 30px;
    cursor: pointer;
} */

/* Widget RSVP */
@media(max-width:574px) {
    .img-rsvp img{
        max-width: 30px;
        max-height: 30px;
    }
}

.img-rsvp img{
    max-width: 60px;
    max-height: 60px;
}

/* Widget Copy Text */
#iconCopyText {
    cursor: pointer;
}
